body {
    padding: 0px;
    margin: 0px;
    text-align:center;
    background-color: rgb(254, 208, 193);
}

h1 {margin: 0px}

header { 
background-color:rgb(233, 108, 55);
color :aliceblue;
padding : 50px;
}

section {
background-color:aliceblue;
margin:80px auto;
width:600px;
padding:60px;

}